*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Serif', serif;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 5%;
}
header h1{
    font-family: 'PT Serif';
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.045em;
}
.who-we-are h2{
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.who-we-are p{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    max-width: 370px;
}
main{
    padding: 0 5%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 25%);
    grid-template-rows: repeat(2,1fr);
    column-gap: 5%;
    row-gap: 10%;
}
figure div{
    display: flex;
}
figure div p{
    writing-mode: vertical-lr;
    font-family: 'PT Serif';
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
}
figure h3{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}
figure img{
    width: 100%;
    height: auto;
}
main .member:nth-child(2), main .member:nth-child(5){
    position: relative;
    top: 20%;
}
@media screen and (max-width:850px){
    header{
        flex-direction: column;
        gap: 38px;
    }
    .who-we-are p{
        max-width: none;
    }
    main{
        grid-template-columns: repeat(2, 1fr);
    }
    main .member:nth-child(5){
        position: static;
    }
    main .member:nth-child(even){
        position: relative;
        top: 20%;
    }
    figure img{
        width: 85%;
    }
}